<div>
    <h3>Contact Details</h3>
    <form class="form-control">
        <label>Email</label>
        <input type="email" class="email" placeholder="Email Id">
        <label>Mobile</label>
        <input type="number" class="number" placeholder="Enter your number">
        <label>Country</label>
        <input type="text" class="country" placeholder="Your Country">

        <button routerLink="/h1/personal-details">Back</button>
        <button routerLink="/h1/skill">Next</button>
        
    </form>
</div>