<div class="container-fluid">
    <h1>Welcome to my task manager</h1>
    <h2>How u doin?</h2>
    <div>
        <p>Let's work on creating a set of wizards here.</p>
        <p>I will have to create 5 wizards:</p>
        <ul>
            <li>PersonaleDetailsComponent</li>
            <li>ContactDetailsComponent</li>
            <li>SkillComponent</li>
            <li>WorkExperienceComponent</li>
            <li>WizardFinishedComponent</li>
        </ul>

        <button routerLink="/h1/personal-details">Let's Begin</button>
        <router-outlet></router-outlet>
    </div>    
</div> 
